<ion-header>
  <ion-button class="BackButton" color="light" (click)="ToHome()">Back</ion-button>
</ion-header>

<ion-content  class="background">
  <ion-grid>
    <ion-row>
     
        <svg id="progress-circle" width="50vh" height="50vh" viewBox="0 0 200 200">
          <linearGradient id="linearColors1" x1="0" y1="0" x2="1" y2="1">
            <stop offset="0%" stop-color="#ddd6f3"></stop>
            <stop offset="100%" stop-color="#faaca8"></stop>
          </linearGradient>
          <circle cx="50%" cy="50%" [attr.r] = "circleR" fill="none" stroke="#f3f3f3" stroke-width="12">
          </circle>
          <circle cx="50%" cy="50%" [attr.r] = "circleR" fill="none" stroke="url(#linearColors1)" stroke-width="12" stroke-linecap="round"
          [attr.stroke-dasharray]="circleDasharray"
          [attr.stroke-dashoffset]="percentageOffset(percent | async)"
          >
          </circle>
          <text x="50%" y = "55%" class="timer-text">{{ time | async }}</text>
        </svg>
      
    </ion-row>
    
   <ion-row>
      <ion-column>
        <div class="overlay_container">
          <div id="navi" [hidden]=ishidden><ion-card >
            <ion-card-header>
              
              <ion-card-title>Meditation Streak!</ion-card-title><ion-icon name="flame-outline" size="large"></ion-icon>
            </ion-card-header>
            <ion-card-content>
              You have meditated the last 7 days in a row.
            </ion-card-content>
          </ion-card> </div>  
        <ion-button size="large" shape="round" fill="outline" id="infoi" class="meditate_button" (click)="startTimer(10)">Meditate</ion-button>
      
      </div>
        
      </ion-column>
    </ion-row>
    <ion-row>
      <ion-column>
          <p>“The more regularly and the more deeply you meditate, the sooner you will find yourself acting always from a center of peace.”
            – J. Donald Walters</p>
      </ion-column>
    </ion-row>
  </ion-grid>
</ion-content>
