<ion-header [translucent]="true">
  
</ion-header>

<ion-content [fullscreen]="true" class="background">
  
  <ion-header collapse="condense">
    
  </ion-header>
  <ion-grid>

  <ion-row class="HeaderLogo">
    <ion-col class="header">
      <div id="container">
        <img class="logo" src="../../assets/icon/25thHourLogo.png">
      </div>
      <div id="container">
        <h2 class="title">25th Hour Health</h2>
      </div>
    </ion-col>
  </ion-row>

  <ion-row class="InputRow">
    <ion-col>
        <ion-item class="Input">
          <ion-label position="stacked">Username</ion-label>
          <ion-input></ion-input>
        </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item class="Input">
        <ion-label position="stacked">Password</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col><h4 style="text-align: center;">Create Account</h4></ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button class="LoginBtn" color="medium">Login</ion-button>
    </ion-col>
  </ion-row>
  </ion-grid>


</ion-content>
