
#container{
  text-align: center;
}

.logo
{
  width:90%;
  height: 90%;
}
.title
{
  font-size: 50px;
  color:rgb(172, 130, 53);
}
ion-button.LoginBtn
{
  margin: 0;
  margin-top:10%;
  position: absolute;
  width:50%;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
ion-item.Input
{
  padding:5px;
}


ion-row.InputRow
{
  margin-top:50%;

}
ion-row.HeaderLogo
{
  margin-top:35%;
}
ion-col.header
{
  margin-top: 25%;
}
ion-content.background{
  --background: url(../../assets/images/25thHourHeader.png) 0 0/100% 100% no-repeat;
}