<ion-header>
  
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <ion-grid>

    <ion-row class="HeaderLogo">
      <ion-col class="header">
        <div id="container">
          <img class="logo" src="../../assets/icon/25thHourLogo.png">
        </div>
        <div id="container">
          <h2 class="title">25th Hour Health</h2>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="BtnRow">
      <ion-col>
        <ion-button class="NavButton" color="medium" (click)="ToInfo()">Info</ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="BtnRow">
      <ion-col>
        <ion-button class="NavButton" color="medium" (click)="ToAmbientMixer()" >Ambient-Mixer</ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="BtnRow">
      <ion-col>
        <ion-button class="NavButton" color="medium" (click)="ToMeditate()">Meditate</ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="BtnRow">
      <ion-col>
        <ion-button class="NavButton" color="medium" (click)="ToJournal()">Journal</ion-button>
      </ion-col>
    </ion-row>
    </ion-grid>
</ion-content>
