ion-icon {
    font-size: 20px; //Preferred size here
}
.journal-content
{
    background-color: #34223a;
}
ion-card
{
    background-color: rgb(195, 195, 195);
    margin-top: 35px;
    margin-bottom: 35px;
}

.logo{
    padding-top: 45px;
    width: 20%;
    height: 20%
}