<ion-content [scrollEvents]="true" 
(ionScrollStart)="logScrollStart()"
(ionScroll)="logScrolling($event)"
(ionScrollEnd)="logScrollEnd()">
<ion-button class="BackButton" color="light" (click)="ToHome()">Back</ion-button>
 <ion-header></ion-header>

  <ion-list></ion-list>
          <ion-fab vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button>
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
          </ion-fab>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
      <div slot="fixed">
        <ion-item>


          
          <div class="journal-content">
          
            <ion-grid>

              <ion-row class="HeaderLogo">
                <ion-col class="header">
                  <div id="container">
                    <img class="logo" src="../../assets/icon/25thHourLogo.png">
                  </div>
                  <div id="container">
                    <h2 class="title" style="padding-top: 10px;">25th Hour Notes</h2>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
              <ion-card>
                <ion-card-header>
                  <ion-card-subtitle>4/28/2021</ion-card-subtitle>
                  <ion-card-title>Fight Night</ion-card-title>
                </ion-card-header>
              
                <ion-card-content>
                  someone and someone got into a fight then read something
                  did adult things then someone was a jerk to me
                  someone bothered me while doing adult things
                  reminisced with charles
                  couldn't do anything which caused a storm
                  did hobby to have a full day
                  avoided a responsibility because I visited friends
                  read a book at bogus
                  felt sick then someone got angry at me
                  puttered around on the internet near bsu
                </ion-card-content>
                <ion-icon name="arrow-forward-outline" style="float: right; padding-right: 10%; padding-bottom:5%;"></ion-icon>

              </ion-card>

              <ion-card>
                <ion-card-header>
                  <ion-card-subtitle>3/17/2021</ion-card-subtitle>
                  <ion-card-title>The hospital</ion-card-title>
                </ion-card-header>
              
                <ion-card-content>
                  had a full day to went to the hospital
                  cooked something yummy which caused a power outage somewhere
                  looked at art but ran into someone
                  missed someone while getting help on something from someone
                  hurt myself which led to going on vacation
                  thought of old times near the cliffs
                  went on a journey at my backyard
                  set out to learn something new because someone was bitchy at me
                  feeling excited for something coming up as usual
                  someone and someone fought to go to the doctor
                </ion-card-content>
                <ion-icon name="arrow-forward-outline" style="float: right; padding-right: 10%; padding-bottom:5%;"></ion-icon>

              </ion-card>

               <ion-card>
                <ion-card-header>
                  <ion-card-subtitle>2/25/2021</ion-card-subtitle>
                  <ion-card-title>Power Outage</ion-card-title>
                </ion-card-header>
              
                <ion-card-content>
                  got recognition which caused a power outage somewhere
                  interneted while reading a book
                  hurt myself to hang out
                  had a full day then hobbied
                  ran into someone to slept in
                  wished someone was here which caused a storm
                  someone was bitchy at me to felt sick
                  hung out as usual
                  cooked something yummy to help someone
                  did chores at the bars.
                </ion-card-content>
                <ion-icon name="arrow-forward-outline" style="float: right; padding-right: 10%; padding-bottom:5%;"></ion-icon>
                </ion-card>
              <ion-card>
                <ion-card-header>
                  <ion-card-subtitle>1/19/2021</ion-card-subtitle>
                  <ion-card-title>Old times</ion-card-title>
                </ion-card-header>
              
                <ion-card-content>
                  thought of old times again
                  worked out with Ian
                  went to the hospital because someone got on my nerves
                  realized something with Tim
                  slept in because I went to a party
                  someone did something cool because I went shopping
                  messed around on the internet which led to experiencing art
                  did adult things because I helped resolve a fight
                  someone yelled at me to go to a meeting
                  helped resolve a fight as usual
                </ion-card-content>
                <ion-icon name="arrow-forward-outline" style="float: right; padding-right: 10%; padding-bottom:5%;"></ion-icon>
              </ion-card>

              <ion-card>
              <ion-card-header>
                <ion-card-subtitle>12/19/2020</ion-card-subtitle>
                <ion-card-title>Art Day</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                did something for someone which led to looking at art
                went out for drinks to reminisce
                interneted on the way to downtown
                meditated while having a nice convo w/ someone
                took a drive because someone was a jerk to me
                someone and someone fought with Tim
                thought of an old memory to reach a turning point in something
                helped resolve a fight which led to going home
                got help on something from someone which caused a storm
                feeling excited for something coming up again
              </ion-card-content>
              <ion-icon name="arrow-forward-outline" style="float: right; padding-right: 10%; padding-bottom:5%;"></ion-icon>

            </ion-card>
            <ion-card>
            <ion-card-header>
              <ion-card-subtitle>11/13/2020</ion-card-subtitle>
              <ion-card-title>Cooking up</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              realized something to cook
              feeling excited for something coming up to reach a turning point in something
              treated myself but messed up
              went to a meeting which caused making plans
              went on a day trip because someone got angry with me
              visited relatives on the way to the coast
              played on the computer to encounter something
              had an adventure because someone annoyed me
              went to the hospital again
              made plans while playing games
            </ion-card-content>
            <ion-icon name="arrow-forward-outline" style="float: right; padding-right: 10%; padding-bottom:5%;"></ion-icon>
            </ion-card>

          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>11/01/2020</ion-card-subtitle>
              <ion-card-title>November first</ion-card-title>
            </ion-card-header>
          <ion-card-content>
            messed around on the internet to did adult things
            felt bad because I chatted with a stranger
            moved because someone annoyed me
            worked together with someone because I spent quality time with someone
            had a good idea to do something for someone
            someone got on my nerves for Kevin
            reached out to someone while going to a sporting event
            had people over while reading something
            someone and someone fought which led to reaching out to someone
            went on a day trip which caused a power outage somewhere
          </ion-card-content>
          <ion-icon name="arrow-forward-outline" style="float: right; padding-right: 10%; padding-bottom:5%;"></ion-icon>
          </ion-card>

          </div>
        </ion-item>
        
      </div>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
