<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-align-self-start" size = 'sm'>
        <ion-button class = "NavButton" color = "medium" (click) = "ToHome()">Back</ion-button>
        </ion-col>
        <ion-col>
        <ion-title>Ambient Mixer</ion-title>           
        </ion-col>      
        <ion-col size = '2'>
          <ion-img src = 'assets\icon\25thHourLogo.png'></ion-img>
        </ion-col>  
      </ion-row>

    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>
      Rain
    </ion-label>
    <ion-range min = '0' max = '1' color = 'dark'></ion-range>
  </ion-item>

  <ion-item button (click)="buttonClick()">
    <ion-label>
      Thunder
    </ion-label>
    <ion-range min = '0' max = '1' color = 'dark'></ion-range>
  </ion-item>

  <ion-item button (click)="buttonClick()">
    <ion-label>
      Campfire
    </ion-label>
    <ion-range min = '0' max = '1' color = 'dark'></ion-range>
  </ion-item>

  <ion-item button (click)="buttonClick()">
    <ion-label>
      Street
    </ion-label>
    <ion-range min = '0' max = '1' color = 'dark'></ion-range>
  </ion-item>

  <ion-item button (click)="buttonClick()">
    <ion-label>
      Airport
    </ion-label>
    <ion-range min = '0' max = '1' color = 'dark'></ion-range>
  </ion-item>

  <ion-item button (click)="buttonClick()">
    <ion-label>
      Spaceship
    </ion-label>
    <ion-range min = '0' max = '1' color = 'dark'></ion-range>
  </ion-item>

  <br>
  <h3 class = 'ion-text-center'>Preset Sounds</h3>
  <br>

  <ion-card (click)="start(6)" class = 'ion-text-center'>
    <ion-card-content>
      <ion-img src = 'assets\images\RainyAirport.jpg'></ion-img>
    </ion-card-content>
    <ion-card-header>
      <ion-card-title>Rainy Airport</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card (click)="start(7)" class = 'ion-text-center'>
    <ion-card-content>
      <ion-img src = 'assets\images\CloudyCamping.jpg'></ion-img>
    </ion-card-content>
    <ion-card-header>
      <ion-card-title>Summer Camping</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card (click)="start(8)" class = 'ion-text-center'>
    <ion-card-content>
      <ion-img src = 'assets\images\WorkDay.jpeg'></ion-img>
    </ion-card-content>
    <ion-card-header>
      <ion-card-title>Work Day</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
