<ion-header>
  <ion-toolbar>
    <ion-title>Info</ion-title>
    <ion-button class="BackButton" color="light" (click)="ToHome()">Back</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content  class="background">
<ion-grid>
  <ion-row class="InfoContainer">
    <ion-col >
      <h2 class= "BoxHeader">Depression</h2>
        <p> Depression (major depressive disorder) is a common and serious medical illness that negatively affects how you feel, the way you think and how you act. Fortunately, it is also treatable. Depression causes feelings of sadness and/or a loss of interest in activities you once enjoyed. It can lead to a variety of emotional and physical problems and can decrease your ability to function at work and at home </p>
    </ion-col>
  </ion-row>
  <ion-row class="InfoContainer">
    <ion-col >
      <h2 class= "BoxHeader">Anxiety</h2>
        <p> Everyone gets anxiety, but for a lot of people, that anxiety is much bigger than normal. Anxiety can be caused by a number of sources including Stress that can result from relationships, emotional trauma, and financial concerns. Meditation helps reduce stress and it is very healthy to do in life. </p>
    </ion-col>
  </ion-row>
  <ion-row class="InfoContainer">
    <ion-col >
      <h2 class= "BoxHeader">ADHD & ADD</h2>
        <p> Untreated ADHD can cause many mental and physical problems that can strain relationships and can make working difficult. This usually results in bad concentration, fatigue, and an increase difficulty of socializing. There is medication for it, but there is also mediation that works. Studies have shown that mediating for an hour everyday helps people with ADHD stay focus on tasks and develop healthy relationships. </p>
    </ion-col>
  </ion-row>
  <ion-row class="InfoContainer">
    <ion-col >
      <h2 class= "BoxHeader">Autism</h2>
        <p> Autism, or autism spectrum disorder (ASD), refers to a broad range of conditions characterized by challenges with social skills, repetitive behaviors, speech and nonverbal communication. According to the Centers for Disease Control, autism affects an estimated 1 in 54 children in the United States today. </p>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
