ion-content.background{
    --ion-background-color: #34223a;
  }

.InfoContainer
{
    border-color: #ffc1ffcb;
    border-width: 3px;
    border-style: solid;
    border-radius: 5px;
    text-align: center;
   color:black;
   background-color:rgba(243, 191, 253, 0.842);
margin: 5%;

}
.BoxHeader{
    border-color: #7e137e;
    border-width: 3px;
    border-style:outset;
    border-radius: 5px;
    box-shadow: blueviolet;
}
