<ion-header>
  <ion-toolbar>
    <ion-title>Info</ion-title>
    <ion-button class="BackButton" color="light" (click)="ToHome()">Back</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content  class="background">
<ion-grid>
  <ion-row class="InfoContainer">
    <ion-col >
      <h2 class= "BoxHeader">Depression</h2>
        <p> Depression (major depressive disorder) is a common and serious medical illness that negatively affects how you feel, the way you think and how you act. Fortunately, it is also treatable. Depression causes feelings of sadness and/or a loss of interest in activities you once enjoyed. It can lead to a variety of emotional and physical problems and can decrease your ability to function at work and at home </p>
    </ion-col>
  </ion-row>
  <ion-row class="InfoContainer">
    <ion-col >
      <h2 class= "BoxHeader">Anxiety</h2>
        <p> about anxiety </p>
    </ion-col>
  </ion-row>
  <ion-row class="InfoContainer">
    <ion-col >
      <h2 class= "BoxHeader">ADHA & ADD</h2>
        <p> about adhd/add </p>
    </ion-col>
  </ion-row>
  <ion-row class="InfoContainer">
    <ion-col >
      <h2 class= "BoxHeader">Autism</h2>
        <p> Autism, or autism spectrum disorder (ASD), refers to a broad range of conditions characterized by challenges with social skills, repetitive behaviors, speech and nonverbal communication. According to the Centers for Disease Control, autism affects an estimated 1 in 54 children in the United States today. </p>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
